.custom-bullet {
    list-style: none; 
    padding-left: 1.5em;
    position: relative;
}

.custom-bullet::before {
    content: "★"; 
    position: absolute;
    left: 0;
    color: #052912; 
    font-size: 1.2em;
}